###############################################################
#                   Authelia Configuration                    #
###############################################################

server:
  address: tcp://0.0.0.0:9091
  endpoints:
    enable_pprof: false

log:
  level: info
  format: text

identity_validation:
  reset_password:
    jwt_secret: "" # This will be overridden by AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE

authentication_backend:
  ldap:
    implementation: custom
    url: ldap://lldap:3890
    timeout: 5s
    start_tls: false
    base_dn: '{{ env "LLDAP_LDAP_BASE_DN" }}'
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})
    user: uid=admin,ou=people,{{ env "LLDAP_LDAP_BASE_DN" }}
    password: '{{ secret "/run/secrets/cerberus_lldap_user_pass" }}'
    attributes:
      display_name: displayName
      group_name: cn
      mail: mail
      username: uid

access_control:
  default_policy: 'one_factor'
  networks:
    - name: internal
      networks:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
  rules:
    - domain: 'auth.{{ env "DOMAIN_NAME" }}'
      policy: bypass
    - domain: 'ldap.{{ env "DOMAIN_NAME" }}'
      policy: two_factor
    - domain: '*.{{ env "DOMAIN_NAME" }}'
      subject: 'group:admins'
      policy: two_factor

session:
  name: '{{ env "SESSION_NAME" }}'
  cookies:
    - domain: '{{ env "DOMAIN_NAME" }}'
      authelia_url: 'https://auth.{{ env "DOMAIN_NAME" }}'
      default_redirection_url: 'https://{{ env "DOMAIN_NAME" }}'
  redis:
    host: authelia-redis
    port: 6379

storage:
  postgres:
    address: tcp://authelia-postgres:5432
    database: authelia
    schema: public
    username: authelia
    # password: "" # Loaded via environment variable AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE

notifier:
  smtp:
    address: smtp://hermes:2525
    sender: 'Cerberus <cerberus@{{ env "DOMAIN_NAME" }}>'
    identifier: localhost
    disable_require_tls: true

totp:
  issuer: authelia.com

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

identity_providers:
  oidc:
    hmac_secret: '{{ secret "/run/secrets/cerberus_jwt_secret" }}' # Use the same JWT secret for HMAC
    issuer_private_key: '{{ secret "/run/secrets/cerberus_oidc_key" }}'
    access_token_lifespan: 1h
    authorize_code_lifespan: 1m
    id_token_lifespan: 1h
    refresh_token_lifespan: 90m
    enable_client_debug_messages: false
    clients:
      - client_id: portainer
        client_name: Portainer
        client_secret: '{{ secret "/run/secrets/cerberus_portainer_client_secret" }}'
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - 'https://portainer.{{ env "DOMAIN_NAME" }}/login/oauth/o/authelia/callback'
        scopes:
          - openid
          - profile
          - groups
          - email
        userinfo_signing_algorithm: none